<h1>Chat</h1>
<hr style="border-color: cadetblue;">
<div class="app-mensajes" id="app-mensajes">
  <div *ngFor="let chat of chatService.chats"
  [ngClass]="{'text-right': chatService.usuario.uid == chat.uid}">
    <span class="badge"
    [ngClass]="{'badge-success': chatService.usuario.uid == chat.uid,
    'badge-info': chatService.usuario.uid != chat.uid}">{{chat.remitente}}</span>
    <p>
      {{chat.texto}}
    </p>
  </div>
</div>

<input type="text" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviarMensaje()" class="form-control" style="border-color: cadetblue;">